### 1번 문제
사용자로부터 두 개의 숫자를 입력받아 더한 결과를 출력하는 프로그램을 작성하세요.

In [ ]:
num1 = int(input('숫자를 입력하세요:'))
num2 = int(input('숫자를 입력하세요:'))
sum = num1 + num2
print(sum)

3

In [ ]:
num1 = int(input('숫자를 입력하세요:'))
num2 = int(input('숫자를 입력하세요:'))
print(num1 + num2)

### 2번 문제
다음 변수들의 타입을 출력하세요: a = 10, b = 3.14, c = "hello", d = True

In [7]:
a = 10
b = 3.14
c = "hello"
d = True

type(a), type(b), type(c), type(d)

(int, float, str, bool)

In [38]:
a = 10
b = 3.14
c = "hello"
d = True

print([type(i) for i in [a, b, c ,d]])

[<class 'int'>, <class 'float'>, <class 'str'>, <class 'bool'>]

### 3번 문제
두 문자열을 결합하고, 결합된 문자열의 길이를 출력하세요.

In [9]:
str1 = "Hello"
str2 = "World"
len(str1 + str2)

10

In [ ]:
result = 0
for el in str1:
    result += 1

print(result)

5

In [40]:
# min 없이 최소값 찾기

lst = [3, 8, 5, 2, 7, 1]
min_num = float('inf')
for i in lst:
    if min_num > i:
        min_num = i

print(min_num)

1

In [41]:
# min 없이 최소값 찾기
lst = [3, 8, 5, 2, 7, 1]

if lst == []:
    print('비어있음 안됨!')
else:
    lst = [3, 8, 5, 2, 7, 1]
    min_num = float('inf')
    for i in lst:
        if min_num > i:
            min_num = i

    print(min_num)

1

In [72]:
# [숙제] max 없이 최대값 찾기

lst = [3, 8, 5, 2, 7, 1]
max_num = 0
for i in lst:
    if max_num < i:
        max_num = i

print(max_num)

8

In [ ]:
# [숙제] 메서드 없이 정렬기능 만들기

lst = [3, 8, 5, 2, 7, 1]
fn = []
for i in lst:
    if not fn:
        fn.append(i)
    else:
        # 올바른 삽입 위치 찾기
        for idx in range(len(fn)):
            if i <= fn[idx]:
                fn.insert(idx, i)   # 그 위치에 삽입
                break
        else:
            fn.append(i)           # 끝까지 작거나 같은 값이 없으면 마지막에 추가

print(fn)

[1, 2, 3, 5, 7, 8]

In [ ]:
# [숙제] 메서드 없이 정렬기능 만들기

lst = [3, 8, 5, 2, 7, 1]
fn = []

for i in lst:
    # 들어갈 자리를 처음(0)부터 하나씩 탐색
    for j in range(len(fn)):
        if i <= fn[j]:
            fn.insert(j, i)
            break
    else:
        # 끝까지 자기보다 작거나 같은 애를 못 찾으면 맨 뒤에 추가
        fn.append(i)

print(fn)

[1, 2, 3, 5, 7, 8]

### 4번 문제
10을 3으로 나눈 몫과 나머지를 각각 구하세요.

In [48]:
a = 10
b = 3
print('몫:', a // 3, ', ''나머지:', a % 3)

몫: 3 , 나머지: 1

### 5번 문제
주어진 숫자가 짝수인지 홀수인지 판별하는 프로그램을 작성하세요.

In [49]:
num = int(input("숫자를 입력하세요: "))
print('짝수입니다' if num % 2 == 0 else '홀수입니다')

홀수입니다

In [50]:
if num % 2 == 0:
    print('짝수') 
else:
    print('홀수')

홀수

### 6번 문제
문자열 "Python Programming"에서 "Python"만 추출하여 출력하세요.

In [53]:
text = "Python Programming"
print(text[:6])

Python

In [55]:
text = "Python Programming"
print(text.split()[0])

Python

In [56]:
time = "07:30"
hour = time[:2]
hour = time.split(':')[0]

### 7번 문제
세 개의 숫자 중 가장 큰 수를 찾는 프로그램을 작성하세요.

In [ ]:
a = int(input("첫 번째 숫자: "))
b = int(input("두 번째 숫자: "))
c = int(input("세 번째 숫자: "))
# nums = a, b, c
print(max(a, b, c))

3

### 8번 문제
사용자의 나이를 입력받아 미성년자/성인을 판별하는 프로그램을 작성하세요.

In [28]:
age = int(input("나이를 입력하세요: "))
print("성인" if age >= 20 else "미성년자")

성인

### 9번 문제
문자열을 입력받아 모든 문자를 대문자로 변환하여 출력하세요.

In [ ]:
text = input("문자열을 입력하세요: ")
print(text.upper())

JKLJ

In [71]:
# [숙제] .upper 구현해보기

print(ord("a")) 
print(ord("A"))

print(ord("b"))
print(ord("B"))

# 소문자 - 32 == 대문자
text = 'apple'
upper_text = []

for c in text:
    code = ord(c)
    upper_code = code - 32
    upper_chr = chr(upper_code)
    upper_text.append(upper_chr)

print(''.join(upper_text))

97
65
98
66
APPLE

In [70]:
upper_text = [chr(ord(c) -32) for c in text]
print(''.join(upper_text))

APPLE

### 10번 문제
두 숫자의 차이의 절댓값을 구하는 프로그램을 작성하세요.

In [35]:
a = int(input("첫 번째 숫자: "))
b = int(input("두 번째 숫자: "))
print(abs(a - b))

1000