In [ ]:
# 113
user = int(input())
print('홀수' if user % 2 else '짝수')

In [ ]:
# 114
user = int(input()) + 20
print(user if user < 255 else 255)

In [ ]:
# 115
user = int(input()) - 20
if user > 255:
    answer = 255
elif user < 0:
    answer = 0
else:
    answer = user
print(answer)

In [ ]:
# 116
user = input()
if user > 255:
    answer = 255
elif user < 0:
    answer = 0
else:
    answer = user
print(answer)

In [3]:
# 136
for _ in range(31)[10::10]:
    print(_)

10
20
30

In [4]:
# 141
# 다음과 같이 판매가가 저장된 리스트가 있을 때 부가세가 포함된 가격을 for 문을 사용해서 화면에 출력하라. 단 부가세는 10원으로 가정한다.

# 리스트 = [100, 200, 300]
# 110
# 210
# 310

list = [100, 200, 300]
for i in list:
    j = i + 10
    print(j)

110
210
310

In [7]:
# 142
# for 문을 사용해서 리스트에 저장된 값을 다음과 같이 출력하라.

list = ["김밥", "라면", "튀김"]
# 오늘의 메뉴: 김밥
# 오늘의 메뉴: 라면
# 오늘의 메뉴: 튀김

for i in list:
    print(f'오늘의 메뉴: {i}')

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [8]:
# 143
# 리스트에 주식 종목이름이 저장돼 있다.

list = ["SK하이닉스", "삼성전자", "LG전자"]
# 저장된 문자열의 길이를 다음과 같이 출력하라.

# 6
# 4
# 4
for i in list:
    print(len(i))

6
4
4

In [9]:
# 144
# 리스트에는 동물이름이 문자열로 저장돼 있다.

list = ['dog', 'cat', 'parrot']
# 동물 이름과 글자수를 다음과 같이 출력하라.

# dog 3
# cat 3
# parrot 6
for i in list:
    print(i, len(i))

dog 3
cat 3
parrot 6

In [10]:
# 145
# 리스트에 동물 이름 저장돼 있다.

list = ['dog', 'cat', 'parrot']
# for문을 사용해서 동물 이름의 첫 글자만 출력하라.

# d
# c
# p
for i in list:
    print(i[0])

d
c
p

In [12]:
# 146
# 리스트에는 세 개의 숫자가 바인딩돼 있다.

list = [1, 2, 3]
# for문을 사용해서 다음과 같이 출력하라.

# 3 x 1
# 3 x 2
# 3 x 3
# 정답확인
for i in list:
    print(f'3 x {i}')

3 x 1
3 x 2
3 x 3

In [13]:
# 147
# 리스트에는 세 개의 숫자가 바인딩돼 있다.

list = [1, 2, 3]
# for문을 사용해서 다음과 같이 출력하라.

# 3 x 1 = 3
# 3 x 2 = 6
# 3 x 3 = 9
for i in list:
    print(f'3 x {i} = {3 * i}')

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [16]:
# 148
# 리스트에는 네 개의 문자열이 바인딩돼 있다.

list = ["가", "나", "다", "라"]
# for문을 사용해서 다음과 같이 출력하라.

# 나
# 다
# 라
for i in list[1:]:
    print(i)

나
다
라

In [17]:
# 149
# 리스트에는 네 개의 문자열이 바인딩돼 있다.

list = ["가", "나", "다", "라"]
# for문을 사용해서 다음과 같이 출력하라.

# 가
# 다
for i in list[::2]:
    print(i)

가
다

In [18]:
# 150
# 리스트에는 네 개의 문자열이 바인딩돼 있다.

list = ["가", "나", "다", "라"]
# for문을 사용해서 다음과 같이 출력하라.

# 라
# 다
# 나
# 가
for i in list[::-1]:
    print(i)

라
다
나
가

In [ ]:
# 172
# 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]
# 0 32100
# 1 32150
# 2 32000
# 3 32500


for i, data in enumerate(price_list): 
    print(i, data)

In [10]:
# 174
# 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]

for i in range(1, 4):
    print(90 + i * 10, price_list[i])

# 100 32150
# 110 32000
# 120 32500

100 32150
110 32000
120 32500

In [12]:
# 175
# my_list를 아래와 같이 출력하라.


my_list = ["가", "나", "다", "라"]
# 가 나
# 나 다
# 다 라

for i in range(len(my_list) - 1):
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [13]:
# 176
# 리스트를 아래와 같이 출력하라.

my_list = ["가", "나", "다", "라", "마"]

for i in range(len(my_list) - 2):
    print(my_list[i], my_list[i+1], my_list[i+2])
# 가 나 다
# 나 다 라
# 다 라 마

가 나 다
나 다 라
다 라 마

In [15]:
# 178
# 리스트에는 네 개의 정수가 저장되어 있다. 각각의 데이터에 대해서 자신과 우측값과의 차분값을 화면에 출력하라.

my_list = [100, 200, 400, 800]
for i in range(len(my_list) - 1):
    print(my_list[i+1] - my_list[i])

# 예를들어 100을 기준으로 우측에 위치한 200과의 차분 값를 화면에 출력하고, 200을 기준으로 우측에 위치한 400과의 차분값을 화면에 출력한다. 이어서 400을 기준으로 우측에 위치한 800과의 차분값을 화면에 출력한다.

# 100
# 200
# 400

100
200
400

In [ ]:
# 179
# 리스트에는 6일 간의 종가 데이터가 저장되어 있다. 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라.

my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(len(my_list) - 2):
    print((my_list[i] + my_list[i+1] + my_list[i+2]) / 3)
# 첫 번째 줄에는 100, 200, 400의 평균값이 출력된다. 두 번째 줄에는 200, 400, 800의 평균값이 출력된다. 같은 방식으로 나머지 데이터의 평균을 출력한다.

# 233.33333333333334
# 466.6666666666667
# 733.3333333333334
# 1033.3333333333333

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [18]:
# 180
# 리스트에 5일간의 저가, 고가 정보가 저장돼 있다. 고가와 저가의 차를 변동폭이라고 정의할 때, low, high 두 개의 리스트를 사용해서 5일간의 변동폭을 volatility 리스트에 저장하라.

low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility = []
for i in range(len(low_prices)):
    volatility.append(high_prices[i] - low_prices[i])
print(volatility)

[50, 100, 30, 80, 0]

In [22]:
# 185
# 리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    # print(i)
    for j in i:
        print(j)
# 102 호
# 201 호
# 202 호
# 301 호
# 302 호

101
102
201
202
301
302

In [23]:
# 187
# 리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart[::-1]:
    # print(i)
    for j in i[::-1]:
        print(j)
# 302 호
# 301 호
# 202 호
# 201 호
# 102 호
# 101 호

302
301
202
201
102
101

In [ ]:
# 188
# 리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart[::-1]:
    # print(i)
    for j in i[::-1]:
        print(j, '호')
        print('-----')
# 101 호
# -----
# 102 호
# -----
# 201 호
# -----
# 202 호
# -----
# 301 호
# -----
# 302 호
# -----

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [30]:
# 189
# 리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart:
    
    for j in i:
        print(j, '호')
    print('-----')
        

# 101 호
# 102 호
# -----
# 201 호
# 202 호
# -----
# 301 호
# 302 호
# -----

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [54]:
# 191
# data에는 매수한 종목들의 OHLC (open/high/low/close) 가격 정보가 바인딩 되어있다.

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
# 내풀이
# for i in data:
#     for j in i:
#         su = j + (j * 0.00014)
#         print(su)

# 정답
for line in data:
    for column in line:
        print(column * 1.00014)

# 수수료를 0.014 %로 가정할 때, 각 가격에 수수료를 포함한 가격을 한라인에 하나씩 출력하라.

# 2000.28
# 3050.427
# 2050.2870000000003
# ...

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [40]:
# 192
# 191번의 출력 결과에 행단위로 "----" 구분자를 추가하라.
for line in data:
    for column in line:
        print(column * 1.00014)
    print('-' * 4)
# 2000.28
# 3050.427
# 2050.2870000000003
# 1980.2772
# ----
# 7501.05
# 2050.2870000000003
# 2050.2870000000003
# 1980.2772
# ----
# 15452.163
# 15052.107
# 15552.177
# 14902.086000000001
# ----

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [ ]:
# 193
# 192 번 문제의 결괏값을 result 이름의 리스트에 1차원 배열로 저장하라.
result = []
for line in data:
    for column in line:
        result.append(column * 1.00014)

print(result)
# >> print(result)
# [2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, ...]
# 정답확인
# result = []
# for line in data:
#     for column in line:
#         result.append(column * 1.00014)
# print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [ ]:
# 194 ### 모르겠음 강사님께 물어보자
# 191번 문제의 결괏값을 result 이름의 리스트에 2차원 배열로 저장하라. 저장 포맷은 아래와 같다. 각 행에 대한 데이터끼리 리스트에 저장되어야 한다.

# >> print(result)
# [
#  [2000.28, 3050.427, 2050.2870000000003, 1980.2772],
#  [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772],
#  [15452.163, 15052.107, 15552.177, 14902.086000000001]
# ]


result = []

for line in data:
    sub = []
    for column in line:
        sub.append(column * 1.00014)
        print(sub)
    result.append(sub)
print(result)

[2000.28]
[2000.28, 3050.427]
[2000.28, 3050.427, 2050.2870000000003]
[2000.28, 3050.427, 2050.2870000000003, 1980.2772]
[7501.05]
[7501.05, 2050.2870000000003]
[7501.05, 2050.2870000000003, 2050.2870000000003]
[7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772]
[15452.163]
[15452.163, 15052.107]
[15452.163, 15052.107, 15552.177]
[15452.163, 15052.107, 15552.177, 14902.086000000001]

In [57]:
# 195
# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 화면에 종가데이터를 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    print(i[-1])
# 100
# 190
# 310

100
190
310

In [58]:
# 196
# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 종가가 150원보다 큰경우에만 종가를 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:]:
    if i[-1] > 150:
        print(i[-1])
# 190
# 310

190
310

In [60]:
# 197
# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 종가가 시가 보다 크거나 같은 경우에만 종가를 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:]:
    if i[-1] >= i[0]:
        print(i[-1])
# 100
# 310

100
310

In [67]:
198
# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 고가와 저가의 차이를 변동폭으로 정의할 때 변동폭을 volatility 이름의 리스트에 저장하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

volatility = []

for i in ohlc[1:]:
    diff = i[1] - i[2]
    volatility.append(diff)
print(volatility)
# >> print(volatility)
# [40, 30, 10]

[40, 30, 10]

In [68]:
volatility = []

for i in ohlc[1:]:    
    volatility.append(i[1] - i[2])
print(volatility)

[40, 30, 10]

In [69]:
volatility = [i[1] - i[2] for i in ohlc[1:]]
print(volatility)

[40, 30, 10]

In [71]:
# 199
# 리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 종가가 시가보다 높은 날의 변동성 (고가 - 저가)을 화면에 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

diff = [i[1] - i[2] for i in ohlc[1:] if i[-1] > i[0]]
print(diff)
# 종가가 시가보다 높은 거래일의 OHLC는 [300, 310, 300, 310] 이다. 따라서 이 거래일의 변동성은 10 (310 - 300)이다.

# 10

[10]

In [73]:
# 200
# 리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 시가에 매수해서 종가에 매도 했을 경우 총 수익금을 계산하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]


profits = sum([i[-1] - i[0] for i in ohlc[1:]])
print(profits)
# 1일차 수익 0원 (100 - 100), 2일차 수익 -10원 (190 - 200), 3일차 수익 10원 (310 - 300) 이다.

# 0

0

In [1]:
def solution(number):
    answer = 0
    divisors = []
    for i in range(1, number + 1):
        if number % i == 0:
            divisors.append(i)
    return sum(divisors)

solution(5)

6