In [ ]:
# 113
user = int(input())
print('홀수' if user % 2 else '짝수')

In [ ]:
# 114
user = int(input()) + 20
print(user if user < 255 else 255)

In [ ]:
# 115
user = int(input()) - 20
if user > 255:
    answer = 255
elif user < 0:
    answer = 0
else:
    answer = user
print(answer)

In [ ]:
# 116
user = input()
if user > 255:
    answer = 255
elif user < 0:
    answer = 0
else:
    answer = user
print(answer)

In [3]:
# 136
for _ in range(31)[10::10]:
    print(_)

10
20
30

In [4]:
# 141
# 다음과 같이 판매가가 저장된 리스트가 있을 때 부가세가 포함된 가격을 for 문을 사용해서 화면에 출력하라. 단 부가세는 10원으로 가정한다.

# 리스트 = [100, 200, 300]
# 110
# 210
# 310

list = [100, 200, 300]
for i in list:
    j = i + 10
    print(j)

110
210
310

In [7]:
# 142
# for 문을 사용해서 리스트에 저장된 값을 다음과 같이 출력하라.

list = ["김밥", "라면", "튀김"]
# 오늘의 메뉴: 김밥
# 오늘의 메뉴: 라면
# 오늘의 메뉴: 튀김

for i in list:
    print(f'오늘의 메뉴: {i}')

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [8]:
# 143
# 리스트에 주식 종목이름이 저장돼 있다.

list = ["SK하이닉스", "삼성전자", "LG전자"]
# 저장된 문자열의 길이를 다음과 같이 출력하라.

# 6
# 4
# 4
for i in list:
    print(len(i))

6
4
4

In [9]:
# 144
# 리스트에는 동물이름이 문자열로 저장돼 있다.

list = ['dog', 'cat', 'parrot']
# 동물 이름과 글자수를 다음과 같이 출력하라.

# dog 3
# cat 3
# parrot 6
for i in list:
    print(i, len(i))

dog 3
cat 3
parrot 6

In [10]:
# 145
# 리스트에 동물 이름 저장돼 있다.

list = ['dog', 'cat', 'parrot']
# for문을 사용해서 동물 이름의 첫 글자만 출력하라.

# d
# c
# p
for i in list:
    print(i[0])

d
c
p

In [12]:
# 146
# 리스트에는 세 개의 숫자가 바인딩돼 있다.

list = [1, 2, 3]
# for문을 사용해서 다음과 같이 출력하라.

# 3 x 1
# 3 x 2
# 3 x 3
# 정답확인
for i in list:
    print(f'3 x {i}')

3 x 1
3 x 2
3 x 3

In [13]:
# 147
# 리스트에는 세 개의 숫자가 바인딩돼 있다.

list = [1, 2, 3]
# for문을 사용해서 다음과 같이 출력하라.

# 3 x 1 = 3
# 3 x 2 = 6
# 3 x 3 = 9
for i in list:
    print(f'3 x {i} = {3 * i}')

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [16]:
# 148
# 리스트에는 네 개의 문자열이 바인딩돼 있다.

list = ["가", "나", "다", "라"]
# for문을 사용해서 다음과 같이 출력하라.

# 나
# 다
# 라
for i in list[1:]:
    print(i)

나
다
라

In [17]:
# 149
# 리스트에는 네 개의 문자열이 바인딩돼 있다.

list = ["가", "나", "다", "라"]
# for문을 사용해서 다음과 같이 출력하라.

# 가
# 다
for i in list[::2]:
    print(i)

가
다

In [18]:
# 150
# 리스트에는 네 개의 문자열이 바인딩돼 있다.

list = ["가", "나", "다", "라"]
# for문을 사용해서 다음과 같이 출력하라.

# 라
# 다
# 나
# 가
for i in list[::-1]:
    print(i)

라
다
나
가

In [ ]:
# 172
# 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]
# 0 32100
# 1 32150
# 2 32000
# 3 32500


for i, data in enumerate(price_list): 
    print(i, data)

In [6]:
# 173
# 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]
# 3 32100
# 2 32150
# 1 32000
# 0 32500

for i in range(len(price_list)):
    print((len(price_list) - 1) - i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [ ]:
174
아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]
100 32150
110 32000
120 32500